<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>cpf</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            <% clientList.forEach(client => { %>
                <tr>
                    <td><%= client.Nome %></td>
                    <td><%= client.CPF %></td>
                    <td><%= client.DataDeNascimento %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>